body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Styling for the top and bottom navbars */
.top-navbar {
  padding: 15px 0;
  top: 0;
  border-bottom: 1px solid #da5858;
  background-color: #f9f8ff;
}

.bottom-navbar {
  background-color: #386150;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.top-navbar {
  top: 0;
}

.bottom-navbar {
  bottom: 0;
}

.top-navbar ul,
.bottom-navbar ul {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.top-navbar li {
  margin: 0 30px;
  font-size: 15px;
}

.bottom-navbar li {
  margin: 0 30px;
  font-size: 20px;
  cursor: pointer;
}
.bottom-navbar li :hover {
  color: rgb(91, 133, 44);
}

.top-navbar a {
  text-decoration: none;
  color: #000080;
  font-weight: 200;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.bottom-navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  cursor: pointer;
}
.bottom-navbar a:hover {
  background-color: #220909;
  color: black;
}

.content {
  padding: 10px;
}
.logo img {
  width: 30rem;
  padding-left: 5%;
  cursor: pointer;
}
.cover-image img {
  width: 100%;
  height: 45vh;
}

a {
  text-decoration: none;
}

.layout {
  /* background-color: green; */
  width: 70%;
  height: 50vh;
  /* align-content:center; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 15rem;
}

.block-title {
  background: rgb(13, 3, 73) !important;
  color: white !important;
  padding: 9px !important;
  font-size: 1.5rem;
  height: 2rem;
  width: 98.6%;
  padding-bottom: 1px;

}

.flex-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-box{
  width: 200px;
  height: 150px;
  /* background:linear-gradient(purple,red); */
  color:white;
  margin: 20px;
}